---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="wuFO2RHfdbxUjiWz2BFzhBmvj", oauth_nonce="3be5cc936cb2754eca28ead75ad4a4c2",
        oauth_signature="clOIEiP4l53o71%2BNlc4k0XIZEwY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1398277383", oauth_token="391335300-jhLaHW5RGvSXktklsZwpYTDeD1ILFN8erqnZ0tHw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 23 Apr 2014 18:23:03 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '8'
      X-Rate-Limit-Reset:
      - '1398278195'
      X-Transaction:
      - 83e0f0b5366d63e2
    body:
      encoding: UTF-8
      string: '{"id":391335300,"id_str":"391335300","name":"Alexis Montagne","screen_name":"AlexisMontagne","location":"Lyon,
        France","description":".","url":"https:\/\/t.co\/bO9Kjx9It6","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/bO9Kjx9It6","expanded_url":"https:\/\/upfluence.co","display_url":"upfluence.co","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":75,"friends_count":37,"listed_count":1,"created_at":"Sat
        Oct 15 12:18:27 +0000 2011","favourites_count":1129,"utc_offset":7200,"time_zone":"Brussels","geo_enabled":true,"verified":false,"statuses_count":132,"lang":"en-gb","status":{"created_at":"Sun
        Apr 20 21:07:04 +0000 2014","id":457988845414649856,"id_str":"457988845414649856","text":"#reperkusound
        http:\/\/t.co\/9Q3mJmji5v","source":"\u003ca href=\"http:\/\/www.apple.com\"
        rel=\"nofollow\"\u003eiOS\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"reperkusound","indices":[0,13]}],"symbols":[],"urls":[],"user_mentions":[],"media":[{"id":457988845280432128,"id_str":"457988845280432128","indices":[14,36],"media_url":"http:\/\/pbs.twimg.com\/media\/BlsabaIIEAAm1Oa.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/BlsabaIIEAAm1Oa.jpg","url":"http:\/\/t.co\/9Q3mJmji5v","display_url":"pic.twitter.com\/9Q3mJmji5v","expanded_url":"http:\/\/twitter.com\/AlexisMontagne\/status\/457988845414649856\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":453,"resize":"fit"},"large":{"w":720,"h":960,"resize":"fit"},"medium":{"w":600,"h":800,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"de"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000429744989\/70e2c88919aaad2da1b4f3c69a6ea61a_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000429744989\/70e2c88919aaad2da1b4f3c69a6ea61a_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/391335300\/1351289265","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Wed, 23 Apr 2014 18:23:03 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&user_id=391335300
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="wuFO2RHfdbxUjiWz2BFzhBmvj", oauth_nonce="fb93b9d3a3e6ae11efe58e007d1915fa",
        oauth_signature="%2BbWIlQl6vVm%2FouAVE8g5Rygfe9Q%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1398277383", oauth_token="391335300-jhLaHW5RGvSXktklsZwpYTDeD1ILFN8erqnZ0tHw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 23 Apr 2014 18:23:04 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1398278284'
      X-Transaction:
      - 61c569d0b058d9f0
    body:
      encoding: UTF-8
      string: '{"users":[{"id":1460548674,"id_str":"1460548674","name":"Rac\u00f8n","screen_name":"raconon","location":"","description":"wazaaaa","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":22,"listed_count":0,"created_at":"Sun
        May 26 20:25:53 +0000 2013","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":13,"lang":"fr","status":{"created_at":"Tue
        Apr 22 18:24:01 +0000 2014","id":458672[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1460432908031043845&user_id=391335300
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="wuFO2RHfdbxUjiWz2BFzhBmvj", oauth_nonce="476b258411eb22e472eaa7cd03a3a275",
        oauth_signature="tlXimd007QlqCGwSOEnhtge8quc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1398277384", oauth_token="391335300-jhLaHW5RGvSXktklsZwp[...]
[...]
