---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="wuFO2RHfdbxUjiWz2BFzhBmvj", oauth_nonce="181b85721710bde719c5bc4ab8378cb6",
        oauth_signature="ZO7AyTNOEhdGQg9f5PIJfB%2Bd9qk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397327243", oauth_token="391335300-jhLaHW5RGvSXktklsZwpYTDeD1ILFN8erqnZ0tHw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 12 Apr 2014 18:27:24 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '9'
      X-Rate-Limit-Reset:
      - '1397327812'
      X-Transaction:
      - 3a62e5474d7641a4
    body:
      encoding: UTF-8
      string: '{"id":391335300,"id_str":"391335300","name":"Alexis Montagne","screen_name":"AlexisMontagne","location":"Lyon,
        France","description":".","url":"https:\/\/t.co\/bO9Kjx9It6","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/bO9Kjx9It6","expanded_url":"https:\/\/upfluence.co","display_url":"upfluence.co","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":73,"friends_count":37,"listed_count":1,"created_at":"Sat
        Oct 15 12:18:27 +0000 2011","favourites_count":1130,"utc_offset":7200,"time_zone":"Brussels","geo_enabled":true,"verified":false,"statuses_count":130,"lang":"en-gb","status":{"created_at":"Mon
        Apr 07 10:14:34 +0000 2014","id":453113594579013632,"id_str":"453113594579013632","text":"@Bescherelle
        \u00c7a devrait te plaire. http:\/\/t.co\/5uuZ5BN2f1","source":"\u003ca href=\"http:\/\/www.apple.com\"
        rel=\"nofollow\"\u003eiOS\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":2365656804,"in_reply_to_user_id_str":"2365656804","in_reply_to_screen_name":"Bescherelle","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"Bescherelle","name":"Bescherelle
        ta m\u00e8re","id":2365656804,"id_str":"2365656804","indices":[0,12]}],"media":[{"id":453113594436390912,"id_str":"453113594436390912","indices":[35,57],"media_url":"http:\/\/pbs.twimg.com\/media\/BknIaddIEAAae1I.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/BknIaddIEAAae1I.png","url":"http:\/\/t.co\/5uuZ5BN2f1","display_url":"pic.twitter.com\/5uuZ5BN2f1","expanded_url":"http:\/\/twitter.com\/AlexisMontagne\/status\/453113594579013632\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":597,"h":184,"resize":"fit"},"small":{"w":337,"h":104,"resize":"fit"},"large":{"w":640,"h":197,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"fr"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000429744989\/70e2c88919aaad2da1b4f3c69a6ea61a_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000429744989\/70e2c88919aaad2da1b4f3c69a6ea61a_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/391335300\/1351289265","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sat, 12 Apr 2014 18:27:23 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&user_id=391335300
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="wuFO2RHfdbxUjiWz2BFzhBmvj", oauth_nonce="38e371a15da15691fdd94c52f706b0ea",
        oauth_signature="H5wVTb9qa7xKlXSdGQqdGxe6TSs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397327243", oauth_token="391335300-jhLaHW5RGvSXktklsZwpYTDeD1ILFN8erqnZ0tHw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 12 Apr 2014 18:27:25 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '6'
      X-Rate-Limit-Reset:
      - '1397327896'
      X-Transaction:
      - 2f33c6981febabe5
    body:
      encoding: UTF-8
      string: '{"users":[{"id":89173622,"id_str":"89173622","name":"Sylvain GERME","screen_name":"tarte_au_sucre","location":"Lyon","description":"Web
        dev, Wordpress, SEO. Application and Network Performance Management","url":"http:\/\/t.co\/wrPideVbKI","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/wrPideVbKI","expanded_url":"http:\/\/www.sylvain-germe.fr","display_url":"sylvain-germe.fr","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":207,"friends_count":844,"listed_count":7,"created_at":"Wed
        Nov 11 12:29:10 +0000 2009","favourites_count":0,"utc_offset":-7200,"time_zone":"Greenland","geo_enabled":false,"verified":false,"statuses_count":507,"lang":"en","status":{"created_at":"Sat
        Apr 12 17:27:40 +0000 2014","id":455034528290324480,"id_str":"455034528290324480","text":"RT
        @krollita: Trop concentr\u00e9s #hachathon (@ BoostInLyon w\/ @rdarricau)
        http:\/\/t.co\/EdlGCGHutS http:\/\/t.co\/ewvJ7l9Y0G","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Sat
        Apr 12 15:00:51 +0000 2014","id":454997582868406272,"id_str":"454997582868406272","text":"Trop
        concentr\u00e9s #hachathon (@ BoostInLyon w\/ @rdarricau) http:\/\/t.co\/EdlGCGHutS
        http:\/\/t.co\/ewvJ7l9Y0G","source":"\u003ca href=\"http:\/\/foursquare.com\"
        rel=\"nofollow\"\u003efoursquare\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":{"type":"Point","coordinates":[45.75723109,4.84281703]},"coordinates":{"type":"Point","coordinates":[4.84281703,45.75723109]},"place":{"id":"d091189af463dd4a","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/d091189af463dd4a.json","place_type":"city","name":"Lyon","full_name":"Lyon,
        Rh\u00f4ne","country_code":"FR","country":"France","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[4.77183095960533,45.707363011012],[4.89836699719321,45.707363011012],[4.89836699719321,45.8082829813072],[4.77183095960533,45.8082829813072]]]},"attributes":{}},"contributors":null,"retweet_count":2,"favorite_count":0,"entities":{"hashtags":[{"text":"hachathon","indices":[16,26]}],"symbols":[],"urls":[{"url":"http:\/\/t.co\/EdlGCGHutS","expanded_url":"http:\/\/4sq.com\/1ngKMkz","display_url":"4sq.com\/1ngKMkz","indices":[57,79]}],"user_mentions":[{"screen_name":"Rdarricau","name":"R\u00e9mi
        Darricau","id":64996536,"id_str":"64996536","indices":[45,55]}],"media":[{"id":454997582688026625,"id_str":"454997582688026625","indices":[80,102],"media[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1460409393542859942&user_id=391335300
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="wuFO2RHfdbxUjiWz2BFzhBmvj", oauth_nonce="5f83e9292ef4bd70eacebcf21bc58bdd",
        oauth_signature="bfPGAkOqshNZK2CS%2Fd1sR2XDlEw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397327244", oauth_token="391335300-jhLaHW5RGvSXktklsZ[...]
[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1400060971694517942&user_id=391335300
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="wuFO2RHfdbxUjiWz2BFzhBmvj", oauth_nonce="1552d8679da4c7fc471f9ce58e5866ef",
        oauth_signature="7xRWMxuc3TQBgAljCueB2L5fJNc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397327249", oauth_token="391335300-jhLaHW5RGvSXktklsZwpYTDeD1ILFN8erqnZ0tHw",
        oauth_version="1.0"
  response:
    status:
      code: 429
      message: Client Error (429)
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '0'
      X-Rate-Limit-Reset:
      - '1397327896'
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Rate limit exceeded","code":88}]}'
  recorded_at: Sat, 12 Apr 2014 18:27:30 GMT
recorded_with: VCR 2.9.0
