---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="9yAAZYhzlTiAQkSYpkltHnjT1", oauth_nonce="0ba99d1bd87d814537ba78f0ac5d5c7b",
        oauth_signature="ka9eHBsHqQInfe46%2BS4V334z528%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397395163", oauth_token="89173622-GT2mMwLQ5wXgyIX8Egfhkwfqgl6d5uX60GIONcv43",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 13 Apr 2014 13:19:23 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1397396063'
      X-Transaction:
      - 1ae0184b15b888e0
    body:
      encoding: UTF-8
      string: '{"id":89173622,"id_str":"89173622","name":"Sylvain GERME","screen_name":"tarte_au_sucre","location":"Lyon","description":"Web
        dev, Wordpress, SEO. Application and Network Performance Management","url":"http:\/\/t.co\/wrPideVbKI","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/wrPideVbKI","expanded_url":"http:\/\/www.sylvain-germe.fr","display_url":"sylvain-germe.fr","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":209,"friends_count":849,"listed_count":7,"created_at":"Wed
        Nov 11 12:29:10 +0000 2009","favourites_count":0,"utc_offset":-7200,"time_zone":"Greenland","geo_enabled":false,"verified":false,"statuses_count":509,"lang":"en","status":{"created_at":"Sun
        Apr 13 10:24:04 +0000 2014","id":455290314925027328,"id_str":"455290314925027328","text":"RT
        @jongold: how to set up a linux server in 5 simple steps:\n1) ???\n2) ???\n3)
        copy &amp; paste some things you don''t understand\n4) ???\n5) done","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Mar 26 13:33:50 +0000 2014","id":448815087785365504,"id_str":"448815087785365504","text":"how
        to set up a linux server in 5 simple steps:\n1) ???\n2) ???\n3) copy &amp;
        paste some things you don''t understand\n4) ???\n5) done","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":4898,"favorite_count":2898,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[]},"favorited":false,"retweeted":true,"lang":"en"},"retweet_count":4898,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"jongold","name":"\u24bc
        \u24c4 \u24c1 \u24b9","id":14199907,"id_str":"14199907","indices":[3,11]}]},"favorited":false,"retweeted":true,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"BEF7C0","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/257289020\/IMG_2266_resize.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/257289020\/IMG_2266_resize.jpg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1756944008\/36660_406694874002_726239002_4473216_1607486_n_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1756944008\/36660_406694874002_726239002_4473216_1607486_n_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/89173622\/1397254045","profile_link_color":"0A8F0C","profile_sidebar_border_color":"636363","profile_sidebar_fill_color":"000000","profile_text_color":"2CDB1C","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sun, 13 Apr 2014 13:19:23 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&user_id=89173622
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="9yAAZYhzlTiAQkSYpkltHnjT1", oauth_nonce="c26b1897f73ed9a8bba0edc9d0e64743",
        oauth_signature="sLeDuX7g6ma98TAk1V5kOPaspLA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397395163", oauth_token="89173622-GT2mMwLQ5wXgyIX8Egfhkwfqgl6d5uX60GIONcv43",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 13 Apr 2014 13:19:24 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1397396064'
      X-Transaction:
      - f12c9a74ee830caa
    body:
      encoding: UTF-8
      string: '{"users":[{"id":52372657,"id_str":"52372657","name":"Neamar","screen_name":"neamar","location":"France","description":"Distributeur
        de liens et grognon professionnel.","url":"http:\/\/t.co\/5mo9Nu0dk9","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/5mo9Nu0dk9","expanded_url":"http:\/\/blog.neamar.fr","display_url":"blog.neamar.fr","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":321,"friends_count":101,"listed_count":15,"created_at":"Tue
        Jun 30 11:44:2[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=1462290771099045340&user_id=89173622
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="9yAAZYhzlTiAQkSYpkltHnjT1", oauth_nonce="07d46659a4ecb8414cc71a13d8ffe6fd",
        oauth_signature="CGP8dCVEXqfLqYLaHQCU%2FE%2Bxe3M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397395164", oauth_token="89173622-GT2mMwLQ5wXgyIX8Eg[...]
[...]
