---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="9yAAZYhzlTiAQkSYpkltHnjT1", oauth_nonce="c22d822792de7e2c6595670258639148",
        oauth_signature="PWU7vl8zh%2FP9SLA2QHt48hITJUo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397421401", oauth_token="89173622-GT2mMwLQ5wXgyIX8Egfhkwfqgl6d5uX60GIONcv43",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 13 Apr 2014 20:36:42 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1397422301'
      X-Transaction:
      - 77f4f5dbd1169cf7
    body:
      encoding: UTF-8
      string: '{"id":89173622,"id_str":"89173622","name":"Sylvain GERME","screen_name":"tarte_au_sucre","location":"Lyon","description":"Web
        dev, Wordpress, SEO. Application and Network Performance Management","url":"http:\/\/t.co\/wrPideVbKI","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/wrPideVbKI","expanded_url":"http:\/\/www.sylvain-germe.fr","display_url":"sylvain-germe.fr","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":209,"friends_count":849,"listed_count":7,"created_at":"Wed
        Nov 11 12:29:10 +0000 2009","favourites_count":0,"utc_offset":-7200,"time_zone":"Greenland","geo_enabled":false,"verified":false,"statuses_count":512,"lang":"en","status":{"created_at":"Sun
        Apr 13 20:12:55 +0000 2014","id":455438502319374339,"id_str":"455438502319374339","text":"@nourybouraqadi  j''ai
        eu beau r\u00e2ler \u00e0 faire du TDD aux mines, je suis en hackathon et
        je passe mon temps \u00e0 \u00e7a en #ruby, merci !","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":155005439,"in_reply_to_user_id_str":"155005439","in_reply_to_screen_name":"nourybouraqadi","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"ruby","indices":[113,118]}],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"nourybouraqadi","name":"Noury
        Bouraqadi","id":155005439,"id_str":"155005439","indices":[0,15]}]},"favorited":false,"retweeted":false,"lang":"fr"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"BEF7C0","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/257289020\/IMG_2266_resize.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/257289020\/IMG_2266_resize.jpg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1756944008\/36660_406694874002_726239002_4473216_1607486_n_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1756944008\/36660_406694874002_726239002_4473216_1607486_n_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/89173622\/1397254045","profile_link_color":"0A8F0C","profile_sidebar_border_color":"636363","profile_sidebar_fill_color":"000000","profile_text_color":"2CDB1C","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sun, 13 Apr 2014 20:36:42 GMT
recorded_with: VCR 2.9.0
