---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="wuFO2RHfdbxUjiWz2BFzhBmvj", oauth_nonce="0fec83c76a2efee34f5351b157734f04",
        oauth_signature="77IFBdBO5O6kXvOdUD4Nt09hA3s%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397327015", oauth_token="391335300-jhLaHW5RGvSXktklsZwpYTDeD1ILFN8erqnZ0tHw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 12 Apr 2014 18:23:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '11'
      X-Rate-Limit-Reset:
      - '1397327812'
      X-Transaction:
      - e775ef5b2108e483
    body:
      encoding: UTF-8
      string: '{"id":391335300,"id_str":"391335300","name":"Alexis Montagne","screen_name":"AlexisMontagne","location":"Lyon,
        France","description":".","url":"https:\/\/t.co\/bO9Kjx9It6","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/bO9Kjx9It6","expanded_url":"https:\/\/upfluence.co","display_url":"upfluence.co","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":73,"friends_count":37,"listed_count":1,"created_at":"Sat
        Oct 15 12:18:27 +0000 2011","favourites_count":1130,"utc_offset":7200,"time_zone":"Brussels","geo_enabled":true,"verified":false,"statuses_count":130,"lang":"en-gb","status":{"created_at":"Mon
        Apr 07 10:14:34 +0000 2014","id":453113594579013632,"id_str":"453113594579013632","text":"@Bescherelle
        \u00c7a devrait te plaire. http:\/\/t.co\/5uuZ5BN2f1","source":"\u003ca href=\"http:\/\/www.apple.com\"
        rel=\"nofollow\"\u003eiOS\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":2365656804,"in_reply_to_user_id_str":"2365656804","in_reply_to_screen_name":"Bescherelle","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"Bescherelle","name":"Bescherelle
        ta m\u00e8re","id":2365656804,"id_str":"2365656804","indices":[0,12]}],"media":[{"id":453113594436390912,"id_str":"453113594436390912","indices":[35,57],"media_url":"http:\/\/pbs.twimg.com\/media\/BknIaddIEAAae1I.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/BknIaddIEAAae1I.png","url":"http:\/\/t.co\/5uuZ5BN2f1","display_url":"pic.twitter.com\/5uuZ5BN2f1","expanded_url":"http:\/\/twitter.com\/AlexisMontagne\/status\/453113594579013632\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":597,"h":184,"resize":"fit"},"small":{"w":337,"h":104,"resize":"fit"},"large":{"w":640,"h":197,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"fr"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000429744989\/70e2c88919aaad2da1b4f3c69a6ea61a_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000429744989\/70e2c88919aaad2da1b4f3c69a6ea61a_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/391335300\/1351289265","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Sat, 12 Apr 2014 18:23:36 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=-1&user_id=391335300
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="wuFO2RHfdbxUjiWz2BFzhBmvj", oauth_nonce="9b13db144d315896eb4a02bc974637fb",
        oauth_signature="4ZbLjrch1y986Ynz6DvIuFSalBU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397327016", oauth_token="391335300-jhLaHW5RGvSXktklsZwpYTDeD1ILFN8erqnZ0tHw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 12 Apr 2014 18:23:38 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '8'
      X-Rate-Limit-Reset:
      - '1397327813'
      X-Transaction:
      - ab89ce57274687b8
    body:
      encoding: UTF-8
      string: '{"users":[{"id":89173622,"id_str":"89173622","name":"Sylvain GERME","screen_name":"tarte_au_sucre","location":"Lyon","description":"Web
        dev, Wordpress, SEO. Application and Network Performance Management","url":"http:\/\/t.co\/wrPideVbKI","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/wrPideVbKI","expanded_url":"http:\/\/www.sylvain-germe.fr","display_url":"sylvain-germe.fr","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":207,"friends_count":844,"listed_count":7,"created_at":"Wed
        Nov 11 12:29:10 +0000 2009","favourites_count":0,"utc_offset":-7200,"time_zone":"Greenland","geo_enabled":false,"verified":false,"statuses_count":507,"lang":"en","status":{"created_at":"Sat
        Apr 12 17:27:40 +0000 2014","id":455034528290324480,"id_str":"455034528290324480","text":"RT
        @krollita: Trop concentr\u00e9s #hachathon (@ BoostInLyon w\/ @rdarricau)
        http:\/\/t.co\/EdlGCGHutS http:\/\/t.co\/ewvJ7l9Y0G","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Sat
        Apr 12 15:00:51 +0000 2014","id":454997582868406272,"id_str":"454997582868406272","text":"Trop
        concentr\u00e9s #hachathon (@ BoostInLyon w\/ @rdarricau) http:\/\/t.co\/EdlGCGHutS
        http:\/\/t.co\/ewvJ7l9Y0G","source":"\u003ca href=\"http:\/\/foursquare.com\"
        rel=\"nofollow\"\u003efoursquare\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":{"type":"Point","coordinates":[45.75723109,4.84281703]},"coordinates":{"type":"Point","coordinates":[4.84281703,45.75723109]},"place":{"id":"d091189af463dd4a","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/d091189af463dd4a.json","place_type":"city","name":"Lyon","full_name":"Lyon,
        Rh\u00f4ne","country_code":"FR","country":"France","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[4.77183095960533,45.707363011012],[4.89836699719321,45.707363011012],[4.89836699719321,45.8082829813072],[4.77183095960533,45.8082829813072]]]},"attributes":{}},"contributors":null,"retweet_count":2,"favorite_count":0,"entities":{"hashtags":[{"text":"hachathon","indices":[16,26]}],"symbols":[],"urls":[{"url":"http:\/\/t.co\/EdlGCGHutS","expanded_url":"http:\/\/4sq.com\/1ngKMkz","display_url":"4sq.com\/1ngKMkz","indices":[57,79]}],"user_mentions":[{"screen_name":"Rdarricau","name":"R\u00e9mi
        Darricau","id":64996536,"id_str":"64996536","indices":[45,55]}],"media":[{"id":454997582688026625,"id_str":"454997582688026625","indices":[80,102],"media[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=1443478415343005338&user_id=391335300
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="wuFO2RHfdbxUjiWz2BFzhBmvj", oauth_nonce="926c09518f021ce04643ae1c781353f5",
        oauth_signature="3GQjX%2FtUDvMCij4asZNWRA1tnx8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397327017", oauth_token="391335300-jhLaHW5RGvSXktklsZwp[...]
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/users/lookup.json
    body:
      encoding: UTF-8
      string: screen_name=tarte_au_sucre
    headers:
      Authorization:
      - OAuth oauth_consumer_key="wuFO2RHfdbxUjiWz2BFzhBmvj", oauth_nonce="688f01112bff3517cff5771d92203838",
        oauth_signature="YPl5OczCrRp8tcmsP2FufZYnyng%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397327019", oauth_token="391335300-jhLaHW5RGvSXktklsZwpYTDeD1ILFN8erqnZ0tHw",
  [...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/ids.json?cursor=-1&screen_name=AlexisMontagne
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="wuFO2RHfdbxUjiWz2BFzhBmvj", oauth_nonce="f2404d90678275347d8b84179a920b28",
        oauth_signature="bLWyVFq5oQ%2BzPjnGYkTOTn%2FO7s4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397327020", oauth_token="391335300-jhLaHW5RGvSXktklsZwpYTDeD1ILFN8erqnZ0tHw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 12 Apr 2014 18:23:42 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1397327817'
      X-Transaction:
      - 4eb8469239656be2
    body:
      encoding: UTF-8
      string: '{"ids":[89173622,361204760,52372657,478662805,50797294,542651900,14635493,1560748116,64996536,186415123,752430234,8526432,12819682,564919357,173380117,15732699,1262413328,1263967268,1233673608,809685,187278856,46297785,1179121969,261546340,22386062,7505382,11322372,12,14561327,833335296,14335498,18806383,220551371,18553939,391339471,74691692,213419430],"next_cursor":0,"next_cursor_str":"0","previous_cursor":0,"previous_cursor_str":"0"}'
  recorded_at: Sat, 12 Apr 2014 18:23:41 GMT
[...]
